<%- include('layouts/main') %> <%- include('layouts/header') %>
<section class="container-fluid mt-4">
  <div class="">
    <div class="row">
      <div class="col">
        <h1
          class="mt-5"
          style="
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            color: darkgreen;
          "
        >
          UNDER GROUND WATER ANALYSIS
        </h1>
        <h6 style="font-style: italic" class="mx-5 m-4">
          Believe in the future of Agriculture, with a faith Born not of words
          but of deeds.
        </h6>

        <div class="card mx-5" style="width: 42rem">
          <div class="card-body">
            <p class="card-text m-4" style="font-weight: 500; font-size: large">
              Agriculture is one of the major revenue-producing sectors of India
              and a source of survival. Numerous seasonal, economic and
              biological patterns influence crop production but unpredictable
              changes in these patterns lead to the great loss to farmers.<br /><br />
              The aim is to help the farmers to know better about the importance
              of underground water in farming. We will enable the farmer to know
              the water availability, quality of water and other factors of
              water present in their area. For the convenience of the farmer we
              converted data into a map so that the farmer just need to pinpoint
              the location on the map to get the required information.<br />
              We take the basic inputs from the farmer to guide him to get
              better yield on the basis of improvisation in watering techniques
              and by getting the knowledge of underground water.
            </p>
          </div>
        </div>
      </div>
      <div class="col mt-5">
        <img
          src="https://cfaes.osu.edu/sites/cfaes_main/files/CFAES_OrgChart.pdf/news/Image%20of%20soil%20seedling%20and%20water.jpg"
          alt="ANALYSIS of underground water"
          style="width: 100%"
        />
      </div>
    </div>
  </div>
</section>

<section class="container mt-5"><%- include('aboutus') %></section>

<!-- map data -->
<section class="container mt-4">
  <div class="card">
    <div class="row">
      <div class="col ml-3">
        <a
          href="https://www.google.com/maps/d/embed?mid=1NCGCaXuLEmcWCyG7svqeVkIByh-R9is&ehbc=2E312F"
          target="_blank"
        >
          <img
            src="../004d7f_990608ad39884ca3aa16703ddb7ff0e0_mv2.jpg"
            width="100%"
          />
        </a>
      </div>
      <div class="col mt-5 p-5">
        <h5 style="font-style: oblique">
          Learn more information about your fields<br />
          about underground water by pin pointing your location
        </h5>
        <br />
        <a
          href="https://www.google.com/maps/d/embed?mid=1NCGCaXuLEmcWCyG7svqeVkIByh-R9is&ehbc=2E312F"
          class="btn btn-outline-success"
          target="_blank"
          >Go to map</a
        >
      </div>
    </div>
  </div>
</section>

<!-- more page -->
<section class="container mt-5 pt-4"><%- include('cardsdata') %></section>

<section class="container mt-5"><%- include('faq') %></section>

<!-- <p>
        <iframe
          src="https://www.google.com/maps/d/embed?mid=1NCGCaXuLEmcWCyG7svqeVkIByh-R9is&ehbc=2E312F"
          width="640"
          height="480"
          frameborder="0"
          allowfullscreen="allowfullscreen"
        ></iframe>
      </p>
    </div>
  </div>
</div>
<iframe
  src="https://www.google.com/maps/d/embed?mid=1NCGCaXuLEmcWCyG7svqeVkIByh-R9is&ehbc=2E312F"
  width="640"
  height="480"
></iframe
>Go to map -->
